@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root{
    --color-text: #444;
    --score-box-size: 2em;
}

*,
*::before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    /* height: 100vh; */
}

main {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}


/* SECTION TOTALS */
.totals {
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

    width: 100%;
    margin: 2em 0;
}

.totals > span {
    font-size: 4rem;
    margin: 0 .5em;
}

.totals .computer, 
.totals .player {
    display: flex;
    align-items: center;
    flex: 1 1;
}

.totals .computer {
    justify-content: flex-end;
}

.totals .player {
    justify-content: flex-start;
}

.computer h2{
    margin-right: 0.5em;
}

.player h2{
    margin-left: 0.5em;
}

.totals .score {
    font-size: 4rem;
    border: 1px solid black;
    border-radius: .2em;
    width: var(--score-box-size);
    height: var(--score-box-size);
    overflow: hidden;
}

.totals .score div {
    width: var(--score-box-size);
    height: var(--score-box-size);
    display: flex;
    align-items: center;
    justify-content: center;
}



/* SECTION BATTLE */
.battle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.battle div{
    padding: 0 2em;
    /* border: 1px solid black; */
    height: 20em;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
}

.battle div img{
    object-fit: contain;
    height: 100%;
}

.battle .computer img {
    transform: scaleX(-1) rotateZ(-90deg);
}

.battle .player img {
    transform: rotateZ(-90deg);
}




/* COMMENTARY SECTION */
.commentary{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--color-text);
    height: 12rem;
    text-align: center;
    /* margin-top: 2em; */
}




/* SELECTION SECTION */
.selection{
    text-align: center;
    margin: 3em 0 0 0;
}

.selection .rps{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection .rps > div{
    position: relative;
    border: 1px solid var(--color-text);
    border-radius: .75em;
    height: 10em;
    width: 10em;
    padding: 1em;
    margin: 0 1em;
    transition: all 0.2s;
    cursor: pointer;
}

.selection .rps h3 {
    color: #666;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.2s;
}

.selection .rps > div:hover {
    transform: scale(1.05);
}

.selection .rps > div:hover h3{
    opacity: 1;
    font-size: 2rem;
}

.selection .rps > div:active {
    transform: scale(1);
}

.selection .rps img {
    object-fit: contain;
    height: 95%;
    transition: all 0.2s;
}

.selection .start{
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    font-size: 2rem;
    border: 1px solid var(--color-text);
    border-radius: .5em;
    padding: 1.5em 3em;
    margin: 2em;
}


/* OVERLAY */
.overlay{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
}

.overlay a{
    position: absolute;
    margin-top: 5em;
    left: 50%;
    transform: translateX(-50%);

    font-size: 4rem;
    text-decoration: none;
    color: var(--color-text);
    background-color: orange;
    display: inline-block;
    padding: 0.3em 1em;
    border: 1px solid var(--color-text);
    border-radius: .5em;
    cursor: pointer;
}

.overlay h1{
    font-size: 8rem;
    margin-top: 3em;
}

.overlay--visible{
    display: initial;
}

/* ANIMATIONS */
@keyframes increment {
    /* animate the score changes */
    0%{ top: 0; }
    25%{ top: 10px; }
    75%{ top: calc(-1 * var(--score-box-size) - 10px); }
    100%{ top: calc(-1 * var(--score-box-size)); }
}

@keyframes shake-right {
    0%{transform: scale(1) rotateZ(0);}
    10%{transform: scale(1.1) rotateZ(10deg);}
    20%{transform: scale(0.9) rotateZ(-10deg);}
    30%{transform: scale(1.1) rotateZ(10deg);}
    40%{transform: scale(0.9) rotateZ(-10deg);}
    50%{transform: scale(1.1) rotateZ(10deg);}
    70%{transform: scale(0) rotateZ(-10deg);}
    80%{transform: scale(1.2);}
    100%{transform: scale(1) rotateZ(0);}
}

@keyframes shake-left {
    0%{transform: scale(1) rotateZ(0);}
    10%{transform: scale(1.1) rotateZ(-10deg);}
    20%{transform: scale(0.9) rotateZ(10deg);}
    30%{transform: scale(1.1) rotateZ(-10deg);}
    40%{transform: scale(0.9) rotateZ(10deg);}
    50%{transform: scale(1.1) rotateZ(-10deg);}
    70%{transform: scale(0) rotateZ(10deg);}
    80%{transform: scale(1.2);}
    100%{transform: scale(1) rotateZ(0);}
}

@keyframes reset {
    0%{transform: scale(1);}
    50%{transform: scale(0);}
    100%{transform: scale(1);}
}


/* ANIMATION CLASSES */
.animiate_incremental-score {
    position: relative;
    animation: increment 1s ease-in-out 1 normal forwards;
}

.animate_shake--left{
    position: relative;
    animation: shake-left 2s ease-in-out 0.5s 1 normal forwards;
}

.animate_shake--right{
    position: relative;
    animation: shake-right 1.98s ease-in-out 0.55s 1 normal forwards;
}

.animate_reset{
    position: relative;
    animation: reset 0.5s ease-in-out 1 normal forwards;
}



/* UTILITIES */
.bshdw{
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
}



/* BREAKPOINTS */
@media only screen and (max-width: 992px){
    html{
        font-size: 50%;
    }
}

@media only screen and (max-width: 768px){
    html{
        font-size: 40%;
    }
}

@media only screen and (max-width: 600px){
    html{
        font-size: 30%;
    }
}